.modal {
  border-radius: 4px;
  overflow: hidden;
  min-width: 300px;
  margin-top: 8px;

  &_title {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;
    text-align: center;
  }

  &_button {
    width: 100%;
    padding-top: 16px !important;
    padding-bottom: 16px !important;

    & > span {
      display: grid;
      grid-template-columns: 1fr 10fr 1fr;
      justify-items: flex-start;
    }
  }
}
