.home {
  max-width: 1400px;
  margin: 25px auto 100px;
  padding: 0 25px;

  &_title {
    margin-bottom: 12px;
  }

  &_filter {
    margin-bottom: calc(12px + 1em);
    overflow-x: scroll;
    overflow-y: hidden;
  }

  &_empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & img {
      width: 250px;
      height: 210px;
    }

    & > span:first-of-type {
      font-weight: 600;
    }

    & > span:last-child {
      font-size: 0.8em;
      font-weight: 100;
      color: #535353;
    }
  }
}

@media (max-width: 600px) {
  .home {
    min-height: 125vh;
  }
}
