.container {
  background-color: #fdedee;
  height: 100vh;

  &_header {
    &--logo {
      width: 100px;
      margin: 0 20px;
    }
  }

  &_body {
    &--card {
      &_content {
        padding: 50px !important;
      }

      &_actions {
        &--button {
          margin: 10px !important;
        }
      }
    }
  }
}
