* {
  user-select: none;
}

.container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  min-height: 100vh;
  justify-items: center;

  &_detail {
    margin: 40px 0 !important;

    &__image {
      width: 100%;
      height: 220px;
      filter: brightness(0.65);
      border-radius: 4px;
      object-fit: cover;
    }

    &__logo {
      width: 75px;
      height: 75px;
      margin: 10px 0;
      object-fit: contain;
      border-radius: 100%;
      border: 1px solid #c3c3c350;
    }

    &__title {
      font-size: 2.5em;
      color: #535353;
      font-weight: 500;
      margin-right: 20px;
    }

    &__rate {
      font-weight: bold;
      color: #ffb400;
    }
  }

  &_search {
    width: 95%;
    padding: 8px;
    margin: 20px 0;
    border-radius: 24px;
    background-color: #e0e0e050;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.75;
    letter-spacing: 0.02857em;

    &__icon {
      color: rgba(0, 0, 0, 0.54);
      margin: 0 10px;
    }
  }

  &_items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    &__item {
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
      flex-wrap: wrap;
    }
  }

  &_empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & img {
      width: 250px;
      height: 210px;
    }
  }

  &_cart {
    background-color: blue;
    width: 100%;
  }
}

// Removes the Cart from Mobile/Tablet
@media (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr;
  }
}
