.container {
  gap: 16px;

  & > div:last-child {
    margin-bottom: 32px;
  }

  &_title {
    text-align: center;
    font-size: 1.2em;
    color: #535353;
    font-weight: 700;
    margin-right: 16px;
  }

  &_subtitle {
    text-align: center;
    font-size: 0.9em;
    color: #a3a3a3;
  }
}
