@keyframes shake {
  0% {
    transform: translate(2%, -1%);
  }
  25% {
    transform: translate(-3%, 2%);
  }
  50% {
    transform: translate(2%, -2%);
  }
  75% {
    transform: translate(-3%, 1%);
  }
  100% {
    transform: translate(1%, -1%);
  }
}

.modal {
  &_title {
    margin-top: 16px;
    font-size: 1.25rem;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;
    text-align: center;
  }

  &_subtitle {
    font-size: 0.875rem;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-weight: 100;
    transition: all 0.5s ease;
    text-align: center;
    color: red;
  }

  &_subtitle[shake='1'] {
    animation: shake 0.5s 1;
  }

  &_input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border-radius: 24px;
    background-color: #e0e0e0;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.75;
    letter-spacing: 0.02857em;

    &__icon {
      color: rgba(0, 0, 0, 0.54);
      margin: 0 10px;
    }
  }

  &_suggestions {
    padding: 32px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;

    &_main {
      font-size: 0.9em;
      font-weight: 700;
    }

    &_secondary {
      font-size: 0.8em;
      font-weight: 100;
      color: #aaa;
    }
  }

  &_skeleton {
    margin-bottom: 10px;
    border-radius: 4px;
    height: 68px !important;

    &:last-child {
      margin-bottom: 32px;
    }
  }
}
